fastapi
uvicorn
python-multipart
websockets
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langgraph
tavily-python
python-dotenv
pydantic
typing-extensions
chromadb
pypdf
sentence-transformers
tiktoken
